html, body {
    margin: 0px;
    height: 100%;
}

section {
    padding: 5%;
}

h1 {
    margin: 0px;
    font-family: 'Lobster', cursive;
    font-size: 72px;
}

h1 + p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0px 0px 10px 0px;
    text-align: end;
}

.head-container {
    padding: 5%;
    width: max-content;
}

#Hero {
    justify-content: space-between;
    height: 86%;
    width: 90%;
    padding: 0px 5%;
    background-color: #284B63;
}

#hero-content {

}

#navbar {
    background-color: #284B63;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    padding: 2% 5%;
    font-family: 'Lobster', cursive;
    position: -webkit-sticky;
    position: sticky;
    top: 0px
}

#navbar > * {
    height: 100%;
}

#contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #ffffff;
    font-size: 30px;
}

#contact-container * {
    margin: auto 2vw;
}

#contact-container i:hover {
    color: #d9d9d9;
    text-shadow: 1px 3px 6px #3C6E71;
}

.next-step {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
}

.next-step p {
    font-size: 24px;
    margin: 0px;
}

.next-step:hover {
    color: #D9D9D9;
}
.next-step:hover * {
    text-shadow: 1px 3px 6px #3C6E71;
}

#jumper {
    text-align: center;
    color: #ffffff;
    width: 200px;
}

#jumper p {
    font-size: 24px;
}

#jumper ul {
    display: none;
    list-style-type: none;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 10px;
    border: solid 1.5px #353535;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#jumper ul li {
    margin: 5px;
}

.jump-link {
    text-decoration: none;
    color: #353535;
}

.jump-link:hover {
    text-decoration: none;
    color: #442700;
    text-shadow: 0px 0px 3px #3c6e717a;
}